@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro+Titling&family=Crimson+Text&display=swap");
body {
  background: #f0f7f4;
  font-family: "Crimson Text", serif;
  width: 100%;
  scroll-behavior: smooth;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bac599 #ebebeb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ebebeb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #c2c2c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #bac599;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a38f;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #a0a39a;
}

/* for carousel */
.carousel-parent {
  border-radius: 52px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #dedede, -8px -8px 16px #ffffff;
}

.carousel-parent-dark {
  border-radius: 52px;
  background: linear-gradient(145deg, #7f7f7f, #8b8b8b);
  /* box-shadow: 8px 8px 16px #dedede, -8px -8px 16px #ffffff; */
}
.carousel-custom {
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
}

/* Navbar */
.mantine-a0ad0u {
  background-color: rgba(226, 226, 226, 0.934);
  border-radius: 3rem;
}

.switch {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
  /* border-radius: 30px; */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  border-radius: 15px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #ffffff;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 2px;
  left: 31px;
  z-index: 1;
  width: 19px;
  height: 19px;
}

.moon svg {
  fill: #ffffff;
  position: absolute;
  top: 2px;
  left: 5px;
  z-index: 1;
  width: 19px;
  height: 19px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #2d3b49;
}

/* .input:focus + .slider {
  box-shadow: 0 0 1px #4d4d4d;
} */

.input:checked + .slider:before {
  transform: translateX(30px);
}

/* DropDown */
.dropdown-animate {
  transform: translateY(10px);
  transition: 5s;
}

/* hero-section */
/* .hero-container {
  border-radius: 42px;
  background: #ffffff;
  box-shadow: 20px 20px 19px #dbdbdb, -20px -20px 19px #ffffff;
} */

.hero-img {
  border-radius: 31% 69% 69% 31% / 33% 34% 66% 67%;
  background: #e5dfd1;
  box-shadow: 0 0 30px #e5dfd1;
}

.hero-img-dark {
  border-radius: 31% 69% 69% 31% / 33% 34% 66% 67%;
  background: #e5dfd1;
}

/*food card*/
.FoodCard {
  border-radius: 42px;
  background: #ffffff;
  box-shadow: 8px 8px 19px #dbdbdb, -8px -8px 19px #ffffff;
  transition: 0.5s;
}

.FoodCard-dark {
  border-radius: 42px;
  background: #262626e1;
  /* box-shadow: 8px 8px 19px #000000, -8px -8px 19px #000000; */
  /* transition: 0.5s; */
}

.FoodCardImg {
  border-radius: 30px 30px 0 0;
}

.FoodCardOverlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(175, 175, 175, 0.656);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  overflow: hidden;
  border-radius: 30px 30px 39px 42px;
  transition: 0.5s;
}

/* .FoodCard:hover {
  transform: translateY(5px);
} */

.FoodCard:hover .FoodCardOverlay {
  opacity: 1;
}

/* .FoodCard-dark:hover {
  transform: translateY(5px);
} */

.FoodCard-dark:hover .FoodCardOverlay {
  opacity: 1;
}


/* detail */

.detailCard {
  border-radius: 42px;
  background: #ebeaeaed;
  box-shadow: 8px 8px 19px #dbdbdb, -8px -8px 19px #ffffff;
}

.detailCard-dark {
  border-radius: 42px;
  background: #777777ed;
  /* box-shadow: 8px 8px 19px #dbdbdb, -8px -8px 19px #ffffff; */
}

.detailCardImg {
  border-radius: 42px 0 0 42px;
}

/* className={`${
  theme === "dark" ? "FoodCard-dark" : "FoodCard"
}  relative overflow-hidden  w-[200px] h-[280px]  flex flex-col gap-3 items-center`} */
/*for services */

.serviceCard {
  border-radius: 30px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 47px #c9c9c9, -20px -20px 47px #ffffff;
}

.serviceCard-dark {
  border-radius: 30px;
  background: linear-gradient(145deg, #7a7a7a, #818181);
  /* box-shadow: 20px 20px 47px #c9c9c9, -20px -20px 47px #ffffff; */
}

.serviceCardImg {
  transition: 0.5s;
}

.serviceCardImg:hover {
  transform: translateY(-10px);
}

.title {
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  height: 1.5px;
  top: 2rem;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(238, 152, 87);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
}

.title:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/* for categories */
.custom-list-item:active {
  background-color: #c9c9c9;
}

.custom-list-item:focus {
  background-color: #c9c9c9;
}

/* scroll to top */
.scroll-button {
  border-radius: 20px 0px 0px 20px;
}

.aboutPic {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
